<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text =${titulo}></title>
</head>
<body>
<h1 th:text =${titulo}></h1>
	<ul>
		<li><a th:href="@{/variables/string/}+ 'Hola Andres'">/variables/string/Hola Andres</a></li>
		<li><a th:href="@{/variables/string/}+ 'Hola John'">/variables/string/Hola John</a></li>
		<li><a th:href="@{/variables/string/}+ 'Saludos Andres' + '/' + 7">/variables/string/Hola Andres/7</a></li>
	</ul>
</body>
</html>